{% extends "layout.html" %}

{% block content %}
  <div class="p-5 mb-4 bg-body-tertiary rounded-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">¿Qué es esta Página?</h1>
      <p class="col-md-8 fs-4">
        Creé esta página web con el fin de subir mis trabajos de la 
        materia Introducción a la Inteligencia Artificial. Esta página fue 
        creada desde 0 con los lenguajes Python, Css, HTML y algunos pre-sets de 
        códigos provenientes de Bootstrap, por último, la página fue subida al 
        internet a través de Git y Heroku.
      </p>
    </div>
  </div>
{% endblock %}