{% extends "layout.html" %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Taller Tipologías de la IA</h1>
      <p class="col-md-8 fs-4">
        Objetivo	del	Taller: Este	taller	tiene	como	objetivo	introducir	a	los	estudiantes	en	las	diferentes	tipologías	de	la	
Inteligencia	Artificial	(IA),	su	clasificación	y	aplicaciones	en	la	vida	cotidiana.	Al	finalizar,	los	
estudiantes	comprenderán	las	diferencias	entre	IA	Estrecha	(ANI),	IA	General	(AGI)	y	IA	
Superinteligente	(ASI),	sin	necesidad	de	conocimientos	previos	en	programación.	
      </p>
      <button class="btn btn-primary btn-lg" type="button">Descargar PDF</button>
    </div>
  </div>
<h1></h1>
<div class="p-5 mb-4 bg-body-tertiary rounded-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Taller Historia de la IA</h1>
      <p class="col-md-8 fs-4">
        Objetivo del Taller: Este taller tiene como objetivo comprender la evolución histórica de la Inteligencia 
        Artificial (IA), los conceptos básicos de su creación 
        y sus implicaciones en la sociedad actual y	futura.
      </p>
      <a href="https://docs.google.com/document/d/1cTmXRbPbBSDhKYgCauV-VdkUZ1YKyJFx/export?format=pdf" download>
        <button class="btn btn-primary btn-lg" type="button">Descargar PDF</button>
      </a>
    
    </div>
  </div>
{% endblock %}